In [38]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score
import joblib

# Data collecting

In [39]:
df = pd.read_csv("weather-data-18-24.csv")

In [40]:
df.head()

,day,month,year,humidity,wspd,pressure,dew_point,city,tmin,tmax,tavg
0,1,1,2018,56,13.2,1014.3,2.9,Islamabad,6.8,16.2,11.4
1,2,1,2018,58,10.1,1015.1,4.6,Islamabad,9.3,16.2,12.7
2,3,1,2018,62,9.4,1015.7,4.6,Islamabad,7.6,15.5,11.8
3,4,1,2018,72,10.8,1015.8,5.3,Islamabad,6.8,14.1,10.2
4,5,1,2018,77,8.0,1016.9,6.2,Islamabad,7.2,14.1,10.2

In [41]:
df.tail()

,day,month,year,humidity,wspd,pressure,dew_point,city,tmin,tmax,tavg
7666,27,12,2024,46,9.7,1025.5,-8.2,Quetta,-1.1,8.9,2.8
7667,28,12,2024,42,5.1,1024.7,-9.2,Quetta,-1.9,10.0,3.3
7668,29,12,2024,33,9.7,1021.6,-11.0,Quetta,1.1,14.8,6.0
7669,30,12,2024,34,6.8,1020.9,-8.5,Quetta,1.8,14.2,7.2
7670,31,12,2024,41,4.8,1020.2,-3.8,Quetta,4.2,16.5,9.3

In [42]:
print('rows: ', df.shape[0])
print('columns: ', df.shape[1])

rows:  7671
columns:  11

In [43]:
df.isnull().sum()

day          0
month        0
year         0
humidity     0
wspd         0
pressure     0
dew_point    0
city         0
tmin         0
tmax         0
tavg         0
dtype: int64

In [44]:
df = df.fillna(df.mean)

In [45]:
df.dtypes

day            int64
month          int64
year           int64
humidity       int64
wspd         float64
pressure     float64
dew_point    float64
city          object
tmin         float64
tmax         float64
tavg         float64
dtype: object